@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Abril+Fatface|Cantata+One|Cormorant|Libre+Baskerville|Lora|Nanum+Myeongjo|Playfair+Display|Prata|Rufina|Sorts+Mill+Goudy|Unna|Yeseva+One');


html, body {
	font-family: 'Prata', serif;
	font-size:30px;
	background-color: #fffb78;
	color: black;

}

img {max-width: 100%}

.h1 {
	font-family: 'Prata', serif;
	font-size: 270px;
	max-width: 100%;
	margin-top: 10px;
	top: 50px;
}

#grid-container {
  display: grid;
  border-style: none;
  position: absolute;
  top: 900px;
  left:200px;
  max-width: 700px;
}

